body .formulaire2 {
	
	display: none;

}
 
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.tete{
	 background-color: crimson;
    margin: 50px;
    border-radius: 40px;
    padding-bottom: 50px;
    padding-top: 50px;


}
